<!--pragmatic/accountapp/templates/accountapp/detail.html-->
<!--닉네임을 바꾸고 싶을 떄 ProfileUpdateView 로 Routing 을 해줄 a 태그 삽입-->
{% extends 'base.html'%}

{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
      <p>
        {{ target_user.date_joined }}
      </p>
      <!-- 추가 : 프로필 이미지가 보이도록-->
	  <img src="{{ target_user.profile.image.url }}" alt=""
         style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem;">

      {% if target_user.profile %} <!--target_user 의 profile 이 존재한다면 -->
      <h2 style="font-family: 'NanumSquareB'">
        {{ target_user.profile.nickname }}  <!--target_user 의 profile 의 nickname 보여주도록-->
        <!--추가한 부분-->
        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
          edit
        </a>
        <!------------>
      </h2>
      {% else %} <!-- 아닌경우 create profile 로 향하는 url 로 -->
      <a href="{% url 'profileapp:create' %}">   <!--프로필을 만들수 있는 페이지로-->
        <h2 style="font-family: 'NanumSquareB'">
          Create Profile
        </h2>
      </a>
      {% endif %}

      <h5 style="margin-bottom: 3rem;">
         {{ target_user.profile.message }}
      </h5>

      {% if target_user == user %}
      <a href="{% url 'accountapp:update' pk=user.pk%}">
        <p>
          Change Info
        </p>
      </a>
      <a href="{% url 'accountapp:delete' pk=user.pk%}">
        <p>
          Quit
        </p>
      </a>
      {% endif %}
    </div>
  </div>

{% endblock %}