<!--{% load static %}-->
<!-- list_fragment.html 불러지나.-->

{% if article_list %}
    <div class="container">
        {% for article in article_list %}
            <a href=" {% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article %}
            </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script> <!--js 를 컨테이너 내부로 이동시키기-->

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

{% else %}
    <div class="text-center">
        <h1>No Articles YET! </h1>
    </div>
{% endif %}

<div style="text-align: center">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded_pill mt-3 mb-3 px-3">
        Create Article
    </a>
</div>
